@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
}
.clock {
    width: 30rem;
    height: 30rem;
    border: 20px solid orangered;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow: -3px -3px 7px #ffa500, 3px 3px 5px rgba(94, 104, 121,0.712);
    overflow: hidden;
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
    background-image: url('./face-clock.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;   
}

.hand {
    width: 50%;
    height: 3px;
    background-color: rgb(252,255,55);
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
.hour-hand{
    background-color:rgb(70, 255,255);
    height: 7px;
    
}
.mins-hand{
    background-color: rgb(253,120,227);
    height: 5px;
}
.dot{
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    background-color: #ff5e00;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media screen and (max-width: 480px){
    .clock{
        width: 25rem;
        height: 25rem;
    }
}
@media screen and (max-width: 400px){
    .clock{
        width: 20rem;
        height: 20rem;
    }
}   
